.timeline-item {
    width: 41rem;
    height: 17rem;
    background-color: gray;

    border-radius: 100rem;
    padding: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid red;
    position: absolute;
    transform: translate(0, -50%);
    transition: all 0.7s ease-out;
}

.timeline-item-image-container {
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 100rem;
    overflow: hidden;
}

.timeline-item-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.timeline-item-text {
    color: whitesmoke;
    width: 63%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.timeline-item-title {
    font-size: 1.7rem;
}

.timeline-item-description {
    font-size: 1.3rem;
}

.timeline-item--left-unscrolled {
    right: 100%;
}

.timeline-item--left-scrolled {
    right: calc(50% + 4rem);
}

.timeline-item--right-unscrolled {
    left: 100%;
}

.timeline-item--right-scrolled {
    left: calc(50% + 4rem);
}
